on:
  push: &push
    paths:
    - "**.json"
    - "**.nix"
    - "**.py"
    - "**.toml"
    - "**.yaml"
    - "**.yml"
  pull_request: *push
jobs:
  nixfmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
    - run: find . -type f -name '*.nix' -exec nix run nixpkgs#nixfmt -- {} +
    - run: git diff-index --patch --color --exit-code HEAD

  dprint-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: dprint/check@v2.3
    - run: dprint config update
    - run: git diff-index --patch --color --exit-code HEAD
