on:
  pull_request:
  push:
jobs:
  nix-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        channel:
        - nixos-unstable
        - nixos-25.11
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:${{ matrix.channel }}
    - run: nix-build -E '(import <nixpkgs> { }).python3.pkgs.callPackage ./package.nix { }'
