on:
  pull_request:
    paths:
    - "**.nix"
  push:
    paths:
    - "**.nix"
jobs:
  nixfmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
    - run: find . -type f -name '*.nix' -exec nix run nixpkgs#nixfmt -- {} +
    - run: git diff-index --patch --color --exit-code HEAD
