on:
  push:
    branches:
    - main
    paths:
    - "**.nix"
jobs:
  nixos-options-doc:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - run: nix-build -o doc/module.adoc -A optionsAsciiDoc ./doc
    - run: nix run nixpkgs#asciidoctor -- -o doc/module.html doc/module.adoc
    - run: rm -f doc/default.nix
    - uses: actions/upload-pages-artifact@v3
      id: deployment
      with:
        path: doc/

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      id-token: write
      pages: write
    runs-on: ubuntu-latest
    needs: nixos-options-doc
    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
