on:
  pull_request:
  push:
jobs:
  unittest:
    runs-on: ubuntu-latest
    steps:
    - run: sudo apt-get update
    - run: sudo apt-get install -y libnotify-dev
    - uses: actions/checkout@v4
    - run: python3 -m unittest discover -v
